<section id="movie-data" class="movie-data">
    <section id="review-results" class="review-results">
        <h1 class="movie-title-class">{{reviewData.title}}</h1>
        <img src="https://image.tmdb.org/t/p/w200{{reviewData.poster_path}}">
        <p>{{format_date reviewData.release_date}}</p>
        <div class="summary">
            <h4 class="movie-summary-header">Summary</h4>
            <p class="movie-summary-description">{{reviewData.overview}}</p>
        </div>
        <div>
            <h5>Find movies like {{reviewData.title}}</h5>
            <button class="button" id="similarBtn">Search</button>
        </div>
    </section>

    <section id="averaged-reviews" class="averaged-reviews display-6">
        <p>Movie Quality: {{reviewObj.avgScore}} Avg</p>
        <p>Fun Factor: {{reviewObj.funScore}} Avg</p>

        <div>
            <h2>User Comments:</h2>
            <div>
                {{#each reviews}}
                <p>{{review_string}} by {{user.name}}</p>
                {{/each}}
            </div>
        </div>
    </section>

    <a class="button" id="movieBtn" href='/moviereviews/{{reviewData.id}}'>Write a review</a>

    <section id="review-box"></section>
</section>




<script src="/js/reviews.js"></script>