<div class="content">
    <div class="left">
        <div class="poster-img">
            <img src="${image_path + movie.poster_path}" alt="{{movie.title}}'s poster">
        </div>
        {{!-- <div class="single-info">
            <span>Add to watch later:</span>
            <span class="heart-icon">&#9829;</span>
        </div> --}}
    </div>
    <div class="card review-card">
        <h1>{{movie.title}}</h1>
        <h3>{{movie.tagline}}</h3>
        <div class="single-info-container">
            <div class="single-info">
                <span>Length:</span>
                <span>{{movie.runtime}} minutes</span>
            </div>
            <div class="single-info">
                <span>Budget:</span>
                <span>{{movie.budget}}</span>
            </div>
            <div class="single-info">
                <span>Release Date:</span>
                <span>{{movie.release_date}}</span>
            </div>
        </div>
        <div class="overview">
            <h2>Overview</h2>
            <p>{{movie.overview}}</p>
        </div>
    </div>
</div>

<section id="movie-info"></section>

<form>
    <label for="movieComments">
        Review:
    </label>
    <br />
    <textarea id="movieComments" name="review" rows="5" cols="30"
        style="width:96%;height:150px;padding:2%;font-size:1.2em;background:url('https://gallery.yopriceville.com/var/resizes/Backgrounds/Cinema_Background.jpg?m=1399672800');background-position:center center;background-repeat:no-repeat;">
      {{review_string}}
    </textarea>
    <button id="reviewBtn" type="submit" value="Submit">Post</button>
</form>


<script src="/js/reviews.js"></script>